* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
}
body header {
  max-width: 100%;
  height: auto;
  min-height: 100px;
  display: flex;
  align-items: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  z-index: 100;
  flex-wrap: wrap;
  padding-left: 50px;
  padding: 5px;
  justify-content: center;
}
body header .logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}
body header .mainmenu-research {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 690px;
  min-width: 300px;
  z-index: 120;
  background-color: #ffffff;
}
body header .mainmenu-research input {
  width: 469px;
  height: 45px;
  padding: 14px;
  border-radius: 5px;
  outline: 0;
  border: none;
  background: #ededed;
  opacity: 1;
}
body header .mainmenu-research button {
  width: 120px;
  min-width: 80px;
  height: 45px;
  margin: 0 5px;
  background: #34cb2e;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  opacity: 1;
}
body header .navbar ul {
  display: flex;
  margin-left: 10px;
}
body header .navbar ul .link-block {
  display: flex;
  min-width: -moz-fit-content;
  min-width: fit-content;
  /* max-width: 70px; */
  align-items: center;
  justify-content: center;
  margin-right: 17px;
  height: 45px;
  gap: 10px;
  cursor: pointer;
  pointer-events: all;
  direction: column;
  position: relative;
}
body header .navbar ul .link-block #login-box {
  display: flex;
  position: absolute;
  width: 177px;
  height: 157px;
  left: 30ox;
  top: 35px;
  justify-content: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  z-index: 200;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 20px;
  opacity: 1;
  pointer-events: all;
}
body header .navbar ul .link-block #login-box .login-btn {
  font-weight: 800;
  border: none;
  width: 137px;
  height: 40px;
  border-radius: 5px;
  background: #34cb2e 0% 0% no-repeat padding-box;
  cursor: pointer;
}
body header .navbar ul .link-block #login-box .or-text {
  text-align: center;
  padding: 7px;
  font-weight: 600;
}
body header .navbar ul .link-block #login-box .signup-btn {
  border: none;
  font-weight: 800;
  color: #ffffff;
  border-radius: 5px;
  width: 137px;
  height: 40px;
  cursor: pointer;
  background: #000000 0% 0% no-repeat padding-box;
}
body header .navbar ul .link-block #contact-box {
  display: flex;
  position: absolute;
  top: 40px;
  width: 177px;
  height: 138px;
  align-items: center;
  justify-content: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  z-index: 200;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 20px;
  opacity: 1;
  pointer-events: all;
}
body header .navbar ul .link-block #contact-box .contact-description {
  height: 43px;
  font-size: 12px;
  font-weight: 600;
}
body header .navbar ul .link-block #contact-box .contact-btn {
  width: 137px;
  height: 40px;
  border: none;
  margin-top: 15px;
  border-radius: 5px;
  font-weight: 800;
  background: #34cb2e 0% 0% no-repeat padding-box;
}
body header .navbar ul .link-block .cart-itens {
  display: flex;
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #000000;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 8px;
  font-weight: bold;
  border-radius: 50%;
  right: 15px;
  top: -10px;
}
body .full-banner {
  display: flex;
  width: 100%;
  height: 500px;
  background: url("/assets/FULLBANNER.png") no-repeat center;
  background-size: cover;
}
body .products-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .products-view .slide-title {
  width: 1250px;
  max-width: 80%;
  display: flex;
  font-size: 30px;
  font-weight: 800;
  padding-top: 40px;
  margin-left: 10px;
}
body .products-view .container-slider {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}
body .products-view .container-slider .pre-btn,
body .products-view .container-slider .pos-btn {
  position: relative;
  width: 35px;
  height: 25px;
  top: 50%;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 9;
}
body .products-view .container-slider .pre-btn {
  left: 25px;
  top: 291px;
}
body .products-view .container-slider .pos-btn {
  right: 25px;
  top: 291px;
}
body .products-view .container-slider .slide-container {
  display: flex;
  margin-bottom: 80px;
  margin-top: 30px;
  width: 1250px;
  max-width: 80%;
}
body .products-view .container-slider .slide-container .slick-slide {
  margin: 0 10px;
}
body .products-view .container-slider .slide-container .card {
  display: grid;
  border-radius: 10px;
  background-color: #ffffff;
  width: 310px;
}
body .products-view .container-slider .slide-container .card .card-image {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .products-view .container-slider .slide-container .card .card-image .product-image {
  height: 250px;
  width: 250px;
}
body .products-view .container-slider .slide-container .card .card-info {
  position: relative;
  display: grid;
  padding: 5px;
  justify-content: center;
  text-align: center;
}
body .products-view .container-slider .slide-container .card .card-info .product-description {
  font-size: 13px;
  text-align: center;
  font-weight: 400;
  width: 230px;
  height: 36px;
  letter-spacing: 0;
}
body .products-view .container-slider .slide-container .card .card-info .old-price {
  height: 17px;
}
body .products-view .container-slider .slide-container .card .card-info .old-price span {
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: #909090;
  text-decoration: line-through;
}
body .products-view .container-slider .slide-container .card .card-info .sale-price {
  height: 28px;
  color: #34cb2e;
  font-size: 20px;
  font-weight: 900;
}
body .products-view .container-slider .slide-container .card .card-info .payment-condition {
  font-size: 12px;
  color: #909090;
}
body .products-view .container-slider .slide-container .card .card-info .card-btn-container {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 83px;
}
body .products-view .container-slider .slide-container .card .card-info .card-btn-container .card-btn {
  position: relative;
  font-size: 13px;
  background-color: #34cb2e;
  display: block;
  height: 45px;
  width: 180px;
  margin-bottom: 15px;
  justify-content: space-between;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  opacity: 1;
}
body .banners {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
body .banners .banner {
  padding: 5px;
  max-width: 80%;
}
body .banners .banner img {
  width: 100%;
}
body #cart-input-modal {
  width: auto;
  max-width: 400px;
  height: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 1em rgb(0, 0, 0);
  text-align: center;
  background-color: #f1f1f1;
  z-index: 10;
  transform: translate(-50%, -50%);
  padding: 1.2rem;
  opacity: 1;
  pointer-events: all;
}
body #cart-input-modal .modal-message {
  position: relative;
}
body #cart-input-modal #close-modal-btn {
  position: relative;
  width: 120px;
  height: 45px;
  background-color: #34cb2e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  height: 273px;
  font-size: 12px;
  letter-spacing: -0.3px;
  display: grid;
}
footer .agrada-info {
  display: flex;
  height: auto;
  background-color: #000000;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
footer .agrada-info img {
  width: 184px;
  padding: 20px;
}
footer .agrada-info .footer-description {
  max-width: 1020px;
  min-height: 58px;
  text-align: left;
  color: #ffffff;
  padding: 10px;
}
footer .payment-cards {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}
footer .payment-cards .payment-cards-container {
  width: 350px;
  text-align: center;
  display: grid;
  max-height: 155px;
}
footer .payment-cards .payment-cards-container .payment-text {
  color: #34cb2e;
  font-weight: bold;
  font-size: 15px;
  padding: 8px;
}/*# sourceMappingURL=style.css.map */