* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #f1f1f1;
  width: 1920px;
  height: 2609px;
  max-width: 100%;
  height: 100%;
}
body header {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff 0% 0% no-repeat padding-box;
}
body header .logo {
  display: flex;
  align-items: center;
  padding-left: 335px;
  padding-right: 36px;
}
body header .mainmenu {
  display: flex;
  align-items: center;
  width: 995px;
  height: 45px;
}
body header .mainmenu input {
  width: 469px;
  height: 45px;
  padding: 14px;
  border-radius: 5px;
  outline: 0;
  border: none;
  background: #ededed;
  opacity: 1;
}
body header .mainmenu ::-moz-placeholder {
  background-color: #ededed;
}
body header .mainmenu ::placeholder {
  background-color: #ededed;
}
body header .mainmenu button {
  width: 120px;
  height: 45px;
  margin-right: 33px;
  background: #34cb2e;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  opacity: 1;
}
body header .mainmenu .link-block {
  display: flex;
  align-items: center;
  margin-left: 17px;
  height: 23px;
}
body header .mainmenu .link-block a {
  position: relative;
  display: flex;
  color: #000000;
  font-size: 12px;
  padding-left: 10px;
}
body header .mainmenu .link-block span {
  position: relative;
  display: flex;
  width: 12px;
  height: 12px;
  background-color: #000000;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 8px;
  font-weight: bold;
  border-radius: 50%;
  right: 5px;
  top: -10px;
}
body .products-view {
  position: relative;
  height: 2109px;
  width: 1285px;
  margin: 0 335px;
}
body .products-view .slide-title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 30px;
  margin-top: 72px;
}
body .products-view .pre-btn,
body .products-view .pos-btn {
  width: 35px;
  height: 25px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 9;
}
body .products-view .pre-btn {
  left: -17.5px;
  top: 291px;
}
body .products-view .pos-btn {
  right: 35px;
  top: 291px;
}
body .products-view .slide-container {
  display: flex;
}
body .products-view .slide-container .card {
  flex-direction: column;
  border-radius: 10px;
  background-color: #ffffff;
  display: inline;
}
body .products-view .slide-container .card .card-image {
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .products-view .slide-container .card .product-image {
  height: 250px;
  width: 250px;
}
body .products-view .slide-container .card .card-info {
  height: 170px;
  display: grid;
  justify-content: center;
  text-align: center;
}
body .products-view .slide-container .card .card-info .product-description {
  font-size: 13px;
  text-align: center;
  font-weight: 400;
  width: 230px;
  height: 36px;
  letter-spacing: 0;
}
body .products-view .slide-container .card .card-info .old-price {
  height: 17px;
}
body .products-view .slide-container .card .card-info .old-price span {
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: #909090;
  text-decoration: line-through;
}
body .products-view .slide-container .card .card-info .sale-price {
  height: 28px;
  color: #34cb2e;
  font-size: 20px;
  font-weight: 900;
}
body .products-view .slide-container .card .card-info .payment-condition {
  font-size: 12px;
  color: #909090;
}
body .products-view .slide-container .card .card-btn-container {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 83px;
}
body .products-view .slide-container .card .card-btn-container .card-btn {
  position: relative;
  font-size: 13px;
  background-color: #34cb2e;
  display: block;
  height: 45px;
  width: 180px;
  margin-bottom: 15px;
  justify-content: space-between;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  outline: none;
  opacity: 1;
}/*# sourceMappingURL=style.css.map */